aiohttp~=3.10.5
argparse~=1.4.0
asyncio~=3.4.3
beautifulsoup4~=4.12.2
blessed~=1.20.0
bs4~=0.0.1
cachetools~=5.5.0
chardet
colorama~=0.4.6; platform_system == "Linux"
configparser~=6.0.0
construct~=2.10.70
creditcard~=1.0.2
future~=0.18.3
google~=3.0.0
ipcalc~=1.99.0
Levenshtein~=0.25.1
lief~=0.15.1
mariadb~=1.1.10
maxminddb~=2.6.2
numpy~=1.26.1
observable~=1.0.3
pandas~=2.2.3
pillow~=10.3.0
ping3~=4.0.8
prompt_toolkit
protobuf~=5.28.2
psutil~=5.9.6
pycountry~=24.6.1
pycryptodome~=3.20.0
pyftpdlib~=1.5.9
PyGetWindow~=0.0.9; sys_platform == "win32"
pygments~=2.18.0
pymysql
pyperclip~=1.9.0
pytz~=2024.2
pywin32; sys_platform == "win32"
requests~=2.31.0
rsa~=4.9
setuptools~=75.1.0
six~=1.16.0
sqlalchemy_utils
sqlalchemy~=2.0.23
sqlparse
tkcalendar~=1.6.1; sys_platform == "win32"
tqdm~=4.66.1
tzlocal
urllib3~=2.2.2
watchdog~=3.0.0
windows-curses~=2.4.2; sys_platform == "win32"
xxhash~=3.4.1