pycryptodome~=3.20.0
pymysql
pyftpdlib~=1.5.9
sqlalchemy_utils
sqlalchemy~=2.0.23
numpy~=1.26.1
tqdm~=4.66.1
requests~=2.31.0
psutil~=5.9.6
future~=0.18.3
bs4~=0.0.1
beautifulsoup4~=4.12.2
configparser~=6.0.0
CryptICE~=2.0
ipcalc~=1.99.0
watchdog~=3.0.0
six~=1.16.0
pycountry~=24.6.1
xxhash~=3.4.1
overload~=1.1
asyncio~=3.4.3
creditcard~=1.0.2
ping3~=4.0.8
pywin32;sys.platform=='win32'
blessed~=1.20.0
pillow~=10.3.0
Levenshtein~=0.25.1
mariadb~=1.1.10
pandas~=2.2.3
lief~=0.15.1
construct~=2.10.70
urllib3~=2.2.2
argparse~=1.4.0
rsa~=4.9
cachetools~=5.5.0
aiohttp~=3.10.5
PySimpleGUI~=4.70.1
pyperclip~=1.9.0
tkcalendar~=1.6.1
PyGetWindow~=0.0.9
google~=3.0.0
observable~=1.0.3
sqlparse
setuptools~=75.1.0
pygments~=2.18.0
pytz~=2024.2
maxminddb~=2.6.2
protobuf~=5.28.2
tzlocal
